.App {
  font-family: sans-serif;
  text-align: center;
}
.heading {
  /* font-family: "Roboto"; */
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.subHeading {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
