body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: "#ffffff";
}
/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.subTitle {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.App .primarybtn,
.App .primarybtn:hover {
  width: 135px;
  height: 43px;
  background: #148291;
  border-radius: 3px;
  /* padding: 12px 16px 12px 16px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 6px;
  position: absolute;
  width: 135px;
  height: 43px;
  left: 844px;
  top: 820px;
  background: #148291;
  border-radius: 3px; */
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  background-color: "transparent";
  color: "#fff";
  border: 1px solid #fff;
}
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  background: '#3D4044',
  box-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25)',
  border-radius: '28px !important',
}
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  border-radius: 18px;
  background-color: transparent;
}
.MuiButtonBase-root.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-clickable.MuiChip-clickableColorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-filledDefault:hover {
  background-color: #148291;
  color: #fff;
}
