.App {
  font-family: sans-serif;
  text-align: center;
  background-color: pink;
}
.heading {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: "#ffffff";
}
.subHeading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.subTitle {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.btn {
  width: 135px;
  height: 43px;
  background: #148291;
  border-radius: 3px;
  padding: 12px 16px 12px 16px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 6px;
  position: absolute;
  width: 135px;
  height: 43px;
  left: 844px;
  top: 820px;
  background: #148291;
  border-radius: 3px; */
}
